.env

# Binaries for the project
/weight-tracker
/bin/

# Go-related files
/pkg/
/go.sum
/go.mod

# Database file
weight_tracker.db
weight.db

# SQLC and Goose files
/internal/db/sqlc

# Generated chart files
/charts/

# Editor and IDE files
.vscode/
